.home-container {
    flex-grow: 1;
    .home-wrapper {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    .home-tile-card {
        width: 275px;
        height: 300px;
        border-radius: 10px;
        margin: 20px;

        .home-tile-card-action {
            height: 100%;

            .home-tile-image {
                width: 100%;
                height: 70%;
                object-fit: cover;

            }

            .home-tile-card-content {
                .home-tile-title {
                    font-size: 16px;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }

                .home-tile-price {}
            }
        }
    }
}