
.order-placed-modal-dialog{
   
    .MuiDialog-paperScrollPaper{
        min-width: 300px;
    }
    .order-placed-modal-dialog-title{
        text-transform: uppercase;
    }
    .order-placed-modal-dialog-content{
        display: flex;
        flex-direction:column;
        align-items: center;
        justify-content: center;
        .order-placed-modal-image-container{
            margin: 0 auto;
            .order-placed-modal-image{
                font-size: 50px;
                color: green;
            }
        }
        .order-placed-modal-text{
            text-align: center;
        }
    }
    .order-placed-modal-actions{
        justify-content:center;
        margin-bottom: 12px;
        .order-placed-modal-button{

        }
    }
}